<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Continue"
            id="ContinueBrowser">
      </category>
      <view
            id="com.github.continuedev.continueeclipseextension.views.ContinueBrowser"
            name="ContinueBrowser"
            icon="icons/sample.png"
            class="com.github.continuedev.continueeclipseextension.views.ContinueBrowser"
            category="ContinueBrowser"
            inject="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="com.github.continuedev.continueeclipseextension.views.ContinueBrowser"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="stack">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
